<h1>TechXchange Lab Details</h1>

<font size="4"><strong>Code</strong>: 1585

<font size="4"><strong>Title</strong>: Workload optimization and correction using watsonx.data and watson.ai</font><br>
<font size="4"><strong>Session Type</strong>: Instructor-led Lab</font><br>
<font size="4"><strong>Lab Instructor</strong>: Brajesh Pandey,  Daniel Hancock</font><br>
<font size="4"><strong>Submitter</strong>: Brajesh Pandey</font>

Lakehouse is relatively a new concept and sometimes it can be confusing to understand workload categorization in that environment. watsonx.data supports multiple fit for engines to address true lake + house workloads. In this session, we will learn - Different types of workload(s) - Which engine is the best suited for a workload type - Workload offload to watsonx.data or capacity release from a data warehouse - How can one use watson.ai for workload correction? This practical learning brings clarity while dealing with workloads in Lakehouse and empowers you with effective use of AI. 

Data Warehouse and Data Lakehouse environments will be used to show the possibilies.

**Engines**:  
Data Warehouse: Netezza Performance Server  
Lakehouse: Spark and Presto  
AI: Milvus

---
# Lab Details
---

## Overview  
This hands-on lab focuses on workload optimization, error correction, and AI integration using Netezza Performance Server, watsonx.data and watson.ai. It introduces a hybrid data architecture that combines the robust management of traditional data warehouses with the scalability and flexibility of lakehouses. Participants will learn to optimize workloads by offloading data from data warehouses to lakehouses and using AI, including large language models (LLMs), to enhance data-driven insights through Retrieval-Augmented Generation (RAG).

## Key Learning Objectives  
Understanding the Hybrid Data Architecture: Gain insights into integrating a traditional data warehouse with a lakehouse environment to handle diverse data management needs, optimizing for both storage and compute efficiency.

## Data Layered Approach  
Learn how to manage data across different stages in the lifecycle, starting from the data warehouse and transitioning to the lakehouse:

### Level-1 (L1) Raw Data Layer  
Start by ingesting raw, unprocessed data in the data warehouse. This layer acts as a source of truth and supports auditing, detailed analysis, and recovery.

### Level-2 (L2) Processed Data Layer  
Process and transform data to optimize it for reporting and analysis within the data warehouse. This layer includes cleaned, enriched, and aggregated data that enhances query performance.

### Level-3 (L3) Presentation Data Layer  
Offload processed and refined data to the lakehouse, where it is organized for end-user access and analytical queries. This layer supports high-performance analytics with pre-built reports, dashboards, and optimized structures.
Workload Optimization: Understand how to strategically offload data from the data warehouse to the lakehouse to optimize workloads, reducing costs, and improving query performance.

## Error Correction and Data Quality  
Implement error detection and correction techniques to ensure high-quality data throughout the lifecycle. This is crucial for maintaining reliable data analytics and decision-making processes.

## Leveraging AI Capabilities with watson.ai    
Integrate AI-driven tools and models using watson.ai to extract deeper insights from the data, such as predictive analytics and machine learning for advanced decision support.

## Hands-On Activities    
Participants will set up both data warehouse and lakehouse environments, perform data ingestion, transformation, and offloading tasks, and apply AI models for enhanced analytics. These activities will help them understand how to optimize their data architecture and workload management in real-world scenarios.

## Technology used in Hands-on Lab

### Netezza    
Netezza Performance Server is a cloud-native enterprise data warehouse designed to operationalize deep analytics, business intelligence and AI/maching-learning (ML) workloads by making data unified, accessible and scalable, anywhere.

### IBM watsonx  
watsonx is IBM's platform committed to injecting generative AI into services that span across customer's data lifecycle. Each of the services offer a unique experience but when combined together, the business value is even stronger.

## Part 1

Build a data warehouse using the Data Layered architecture.  Once the data is in the warehouse the data for optimization and AI will be offloaded into Lakehouse for further analysis.

**Engine(s)**: Netezza Performance Server

## Part 2

Offload data from the Data Warehouse into Lakehouse for workload optimization.

**Engine(s)**: Netezza Performance Server and Presto

---
# Start the Lab
---
All tasks in the lab will be performed using a Jupyter Notebook. Open the Notebook in a browser and run the code block below by placing the cursor in the cell and pressing Shift + Enter.  When you see a cell with the run icon: <img src="run.svg" alt="Icon" width="40" height="40"> that indicates to execute the cell.

---
# Part 1: Overview - Netezza Data Warehouse Data Layer Life Cycle 
---

The data layered approach is designed to manage data at different stages of its lifecycle, ensuring that the data warehouse supports various analytical needs.

## Level-1 (L1): Raw Data Layer

*Definition*: This is the foundational layer where raw, unprocessed data is stored. It usually contains data in its most original form, directly from source systems.
    Characteristics:
        Raw and Untransformed: Data is stored as-is, without any transformations or aggregations.
        High Volume: This layer can be very large, as it includes all the detailed transactional data.
        Purpose: Acts as a source of truth and a backup of the original data. It’s used for data recovery, auditing, and detailed historical analysis.

## Level-2 (L2): Processed Data Layer

*Definition*: This layer contains data that has been cleaned, transformed, and possibly aggregated. It is optimized for performance and query efficiency.
    Characteristics:
        Transformed Data: Data is cleaned and transformed according to business rules. This could involve data enrichment, normalization, and denormalization.
        Aggregations and Summaries: Data might be aggregated at various levels to improve query performance.
        Purpose: Provides a more user-friendly and analytical view of the data. It’s typically used for reporting and business intelligence.

## Level-3 (L3): Presentation Data Layer

*Definition*: This is the final layer where data is organized and optimized for end-user access and analytical queries. It usually consists of structured data that is easy to navigate and interact with.
    Characteristics:
        User-Friendly Format: Data is often presented in a way that is directly usable for decision-making and business analysis. It may include pre-built reports, dashboards, and data marts.
        Optimized for Performance: Indexing, caching, and other performance-tuning techniques are applied to ensure quick access.
        Purpose: Provides actionable insights to end-users and business stakeholders. It is tailored to meet specific reporting and analysis needs.

---
# **IMPORTANT**: Run the **REQUIRED** cell(s) to set up the notebook 
---

## <img src="https://ibm.box.com/shared/static/50a3li3lqi6ppr6qcjht3rvay583rnhy.svg" alt="Icon" width="40" height="40"> REQUIRED: set `student_id` to your assigned ID

To run a code block click the cell and press shift+enter or click the cell and click the run icon on the menur bar.

In [1]:
#########################################################
################### CHANGE student_id ###################
#########################################################

student_id = "XX" # change xx to your assigned student ID

The student ID is set to XX, please change to your assigned ID.
Return to the top of the notebook and rerun this cell.

In [2]:
#########################################################
###################### DANGER ZONE ######################
# Do not make changes below this line unless instructed
#########################################################

#!pip3 install nzpy 
#!pip3 install nbimporter

nz_host = "nz-e657c772-2e48-4773-98f5-da69824f3616.us-east-1.data-warehouse.cloud.ibm.com"
nz_port = 5480
nz_source_db = "LAB1585"
nz_target_db = f"LAB1585_{student_id}"
nz_system_db = "SYSTEM"
nz_user = f"u1585_{student_id}"
nz_password = f"TechXchange@Vegas2024_{student_id}"
nz_sschema = "ADMIN"

import pandas as pd
from tabulate import tabulate
import config
import importlib
importlib.reload(config)
config.verify_student_id(student_id, nz_host, nz_port, nz_user, nz_password, nz_source_db, nz_sschema)

# Apply table styling
config.apply_table_styling()

The student ID is set to XX, please change to your assigned ID.
Return to the top of the notebook and rerun this cell.

---
# Part 1 [Student Tasks]: Data Warehous Level-1 (L1)
---

## L1: Build the Data Layers in the Data Warehouse

**Level-1 (Raw Data Layer or Landing Zone)**: This layer is the initial stage of data management where raw, unprocessed data from various source systems is ingested. The data is stored in its original form without any transformation or aggregation, providing a comprehensive and auditable record of the source data. This ensures the integrity and traceability of the data, serving as the foundation for subsequent processing and analysis.

In this task, you will create a dedicated database for your user, identified by your student ID (u1585_xx, where "xx" is your assigned ID). This process involves setting up a new, isolated database environment within the IBM® Netezza® Performance Server for IBM Cloud Pak® for Data as a Service (NPSaaS). By establishing a separate database, you ensure that your data is well-organized, secure, and segregated from other users and databases in the lab environment. 

**Data Warehouse**: IBM® Netezza® Performance Server for IBM Cloud Pak® for Data as a Service (NPSaaS)

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.1 - CONNECT to `U1585_XX` database
> Where `XX` is your assigned student ID set in cell one.

In [14]:
# Call the connect_nzdb function in config.py to connect to the Netezza SYSTEM database as the student user `U1585_XX`

nz_connection = config.connect_nzdb(nz_user, nz_password, nz_host, nz_system_db, nz_port)

Connection to database SYSTEM successful.

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.2 - DROP database (optional)
To start over `DROP` your database:

In [15]:
# CREATE a dedicated Netezza database for the student to use in the lab tasks to avoid conflicting with other students
# Call the run_nzsql function in config.py to DROP the student database

config.run_nzsql(nz_connection,
                 f"""DROP DATABASE LAB1585_{student_id};"""
                )

--------Running SQL Command---------

DROP DATABASE LAB1585_XX;
Error executing command.
Error details: ERROR:  DROP DATABASE: object LAB1585_XX does not exist.
 
------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.3 - CREATE database `U1585_XX`
> Where `XX` is your assigned student ID set in cell one.

To ensure each student has a dedicated environment for performing lab tasks without interfering with others, a separate Netezza database will be created for each student. This isolation helps in preventing conflicts between students'.

In [16]:
# CREATE a dedicated Netezza database for the student to use in the lab tasks to avoid conflicting with other students
# Call the run_nzsql function in config.py to CREATE the student database

config.run_nzsql(nz_connection,
                 f"""CREATE DATABASE LAB1585_{student_id};"""
                )

--------Running SQL Command---------

CREATE DATABASE LAB1585_XX;
Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.4 - DISCONNECT from database `SYSTEM`

When working with databases, it is crucial to manage connections effectively to avoid potential conflicts.

In this lab, the `SYSTEM` database is only used to create or drop user databases. Therefore, disconnecting from the `SYSTEM` database after these operations is particularly important to keep the environment clean and accessible for all users.

In [17]:
# Call the run_nzsql function in config.py to disconnect from the Netezza SYSTEM database

config.disconnect(nz_connection, nz_system_db)

Successfully disconnected from the database SYSTEM.

## Note: Source files in IBM COS Bucket

In the IBM Cloud Object Storage (COS) bucket `bucket1585`, there are three files that are designated for loading data into Netezza tables. Each file corresponds to a specific Netezza table. Below is a detailed description of the files and their corresponding tables:  

Files and their Corresponding Netezza tables:

1. **CUSTOMER**  
   File Name: `customers.parquet`  
   Table: `CUSTOMER`  
   Description: This file contains data related to customers. It is stored in the Parquet format, which is a columnar storage file format optimized for efficient data processing.

1. **ORDERS**  
   File Name: `orders.parquet`  
   Table: `ORDERS`  
   Description: This file holds order-related data. Similar to the customer.parquet file, it is in Parquet format and is used to load order information into the Netezza database.

1. **PRODUCTS**  
   File Name: `products.parquet`  
   Table: `PRODUCTS`  
   Description: This file includes data about products. It is also in Parquet format and will be used to populate the products table in Netezza.

## Note: Netezza `DATASOURCE`
A Netezza datasource is used to specify the location and credentials for accessing a cloud object store bucket to read or write files. A datasource has already been configured for you to access the files needed in this lab, there is no need to create or set it up yourself.

<p><strong>Note:</strong> External Datasource object was created by the DBA and <code>GRANT</code> permissions to your user ID. See below for DDL used.</p>

<pre style="background-color: #f4f4f4; border: 1px solid #ccc; padding: 10px; border-radius: 5px;">
<code style="color: #333; font-family: monospace; font-size: 14px;">
<span style="color: #007700;">set</span> ENABLE_EXTERNAL_DATASOURCE = 1
;

<span style="color: #0000FF;">create</span> EXTERNAL DATASOURCE <span style="color: #0000FF;">lab1585.admin.cos_lab1585</span> <span style="color: #0000FF;">on</span> AWSS3
<span style="color: #0000FF;">using</span> (
        <span style="color: #FF0000;">ACCESSKEYID</span> <span style="color: #A52A2A;">'cf82c83e7e914ad8964f4b25600f3d33'</span>
                    <span style="color: #A52A2A;">'********************************'</span>
        <span style="color: #FF0000;">SECRETACCESSKEY</span> <span style="color: #A52A2A;">'690a4410c4521ee8c4733b19d45d9801c2b61d2a8eeb6ae3'</span>
        <span style="color: #FF0000;">BUCKET</span> <span style="color: #A52A2A;">'bucket1585'</span>
        <span style="color: #FF0000;">REGION</span> <span style="color: #A52A2A;">'us-east'</span>
        <span style="color: #FF0000;">ENDPOINT</span> <span style="color: #A52A2A;">'s3.us-east.cloud-object-storage.appdomain.cloud'</span>
)
;
</code>
</pre>

---
# Note: Database object and File Details
---

<p><strong>Database:</strong> Database name <code>lab1585_XX</code>.</p>

<p><strong>Schemas:</strong> <code>L1</code>, <code>L2</code>, <code>L3</code>.</p>

<h3>External Tables</h3>
<ul>
  <li><strong>L1 External Tables to be used:</strong></li>
  <ul>
    <li><code>customers_ext</code></li>
    <li><code>products_ext</code></li>
    <li><code>orders_ext</code></li>
  </ul>
</ul>

<h3>Tables</h3>
<p><strong>L2 Tables to be used:</strong> (Order is significant)</p>
<ul>
  <li><code>customers</code></li>
  <li><code>products</code></li>
  <li><code>orders</code></li>
</ul>

<h3>Summary Tables</h3>
<p><strong>L3 Tables for Aggregated or Summarized Data:</strong></p>
<ul>
  <li><code>customer_activity_summary</code></li>
  <li><code>order_summary</code></li>
  <li><code>product_category_summary</code></li>
</ul>

<h3>Files</h3>
<p><strong>Mapping of Table Names to Their Respective Parquet File Names for Data Loading:</strong></p>
<table border="1">
  <thead>
    <tr>
      <th>Table Name</th>
      <th>Parquet File Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>customers_ext</code></td>
      <td><code>customer.parquet</code></td>
    </tr>
    <tr>
      <td><code>products_ext</code></td>
      <td><code>products.parquet</code></td>
    </tr>
    <tr>
      <td><code>orders_ext</code></td>
      <td><code>orders.parquet</code></td>
    </tr>
  </tbody>
</table>

---
# Instructors Note - Raw Data Layer
---
*Definition*: This is the foundational layer where raw, unprocessed data is stored. It usually contains data in its most original form, directly from source systems.
    Characteristics:
        Raw and Untransformed: Data is stored as-is, without any transformations or aggregations.
        High Volume: This layer can be very large, as it includes all the detailed transactional data.
        Purpose: Acts as a source of truth and a backup of the original data. It’s used for data recovery, auditing, and detailed historical analysis.

`CREATE` Netezza L1 tables from files in IBM COS

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.5 - SET variables used in tasks

In [18]:
# Set variables for use in sub tasks

nz_target_database = f"LAB1585_{student_id}"
schema = "L1"

print(f"Target database set to: {nz_target_database}")
print(f"Schema set to: {schema}")

Target database set to: LAB1585_XX
Schema set to: L1

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.6 - CONNECT to `LAB1585_XX` database
> Where `XX` is your assigned student ID set in cell one.

In [19]:
# Connect to the newly created database

nz_connection = config.connect_nzdb(nz_user, nz_password, nz_host, nz_target_db, nz_port)

Connection to database LAB1585_XX successful.

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.7 - CREATE `L1` schema in `LAB1585_XX` database

In [21]:
# Create the `L1` schema

config.run_nzsql(nz_connection,
                 f"""CREATE SCHEMA {schema};"""
                )

--------Running SQL Command---------

CREATE SCHEMA L1;
Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.8 - CREATE the external tables for schema `L1` in `LAB1585_XX` database

In this task, you will create external tables named `CUSTOMERS_EXT`, `PRODUCTS_EXT`, and `ORDERS_EXT` within the `L1` schema of the LAB1585_XX database. These external tables point to files stored in the IBM COS bucket `bucket1585`.

We are performing an Extract, Load, and Transform (ELT) process using SQL to manipulate and process the data. The external tables will be used to load raw data from the IBM COS bucket and then transform and process this data to create the final tables in the `L2` schema.

> Note: There are two approaches for processing data from external tables to Level-2 (L2) using SQL:

1. Option 1: Use the external tables to build native Netezza Level-1 (L1) tables. This approach is recommended when the transformation or processing from L1 to L2 is complex, requiring multiple SQL operations.

2. Option 2: Use the external tables directly for SQL-based processing to L2. This is suitable when minimal transformation is required.
Depending on the complexity of the ELT process and SQL transformations from L1 to L2, creating native tables in L1 might be necessary to optimize performance and manage data more effectively.

In [22]:
tables = ['customers_ext', 'products_ext', 'orders_ext']

# Loop over tables to generate CREATE EXTERNAL TABLE commands
for table in tables:
    create_ext = f"""CREATE EXTERNAL TABLE {nz_target_database}.{schema}.{table}
    ON lab1585.admin.cos_lab1585
    USING (DATAOBJECT ('/{table.split('_')[0]}/{table.split('_')[0]}.parquet') FORMAT 'PARQUET');
    """
    config.run_nzsql(nz_connection, create_ext)

--------Running SQL Command---------

CREATE EXTERNAL TABLE LAB1585_XX.L1.customers_ext
    ON lab1585.admin.cos_lab1585
    USING (DATAOBJECT ('/customers/customers.parquet') FORMAT 'PARQUET');

Successfully executed command.

------------------------------------

--------Running SQL Command---------

CREATE EXTERNAL TABLE LAB1585_XX.L1.products_ext
    ON lab1585.admin.cos_lab1585
    USING (DATAOBJECT ('/products/products.parquet') FORMAT 'PARQUET');

Successfully executed command.

------------------------------------

--------Running SQL Command---------

CREATE EXTERNAL TABLE LAB1585_XX.L1.orders_ext
    ON lab1585.admin.cos_lab1585
    USING (DATAOBJECT ('/orders/orders.parquet') FORMAT 'PARQUET');

Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.9 - List `L1` tables

In [23]:
results = config.run_nzsql_withresults(nz_connection,
f"""
SELECT SCHEMA, TABLENAME 
FROM _v_table
WHERE DATABASE = '{nz_target_database}'
  AND SCHEMA = 'L1'
ORDER BY 1, 2
;
"""
)

if results:
    print(tabulate(results, headers=["SCHEMA", "TABLENAME"], tablefmt="pretty", showindex=False))
else:
    print("No rows found.")

--------Running SQL Command---------


SELECT SCHEMA, TABLENAME
FROM _v_table
WHERE DATABASE = 'LAB1585_XX'
  AND SCHEMA = 'L1'
ORDER BY 1, 2
;

Successfully executed command.

--------End of SQL Command---------

+--------+---------------+
| SCHEMA |   TABLENAME   |
+--------+---------------+
|   L1   | CUSTOMERS_EXT |
|   L1   |  ORDERS_EXT   |
|   L1   | PRODUCTS_EXT  |
+--------+---------------+

## <img src="run.svg" alt="Icon" width="40" height="40"> L1: Task 1.10 - DISCONNECT from database `U1585_XX`

> Where XX is your assigned student ID set in cell one.

In [24]:
# Call the run_nzsql function in config.py to disconnect from the Netezza `U1585_XX` database

config.disconnect(nz_connection, nz_target_db)

Successfully disconnected from the database LAB1585_XX.

---
# L2: Overview - Processed Data Layer
---
Definition: This layer contains data that has been cleaned, transformed, and possibly aggregated. It is optimized for performance and query efficiency. Characteristics: Transformed Data: Data is cleaned and transformed according to business rules. This could involve data enrichment, normalization, and denormalization. Aggregations and Summaries: Data might be aggregated at various levels to improve query performance. Purpose: Provides a more user-friendly and analytical view of the data. It’s typically used for reporting and business intelligence.

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.1 - SET variables used in the L2 tasks

In [25]:
# Set variables for use in sub tasks

source_schema = "L1"
target_schema = "L2"

print(f"Source schema set to: {source_schema}")
print(f"Target schema set to: {target_schema}")

Source schema set to: L1
Target schema set to: L2

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.2 - CONNECT to `LAB1585_XX` database
> Where `XX` is your assigned student ID set in cell one.

In [26]:
# Connect to the newly created database

nz_connection = config.connect_nzdb(nz_user, nz_password, nz_host, nz_target_db, nz_port)

Connection to database LAB1585_XX successful.

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.3 - CREATE `L2` schema in `LAB1585_XX` database

In [27]:
# Create the `L2` schema

config.run_nzsql(nz_connection,
                 f"""CREATE SCHEMA {target_schema};"""
                )

--------Running SQL Command---------

CREATE SCHEMA L2;
Successfully executed command.

------------------------------------

## L2: Task 2.4 - CREATE `CUSTOMERS` table in `L2` schema.

In [29]:
# Define the SQL statement to create the 'customers' table in L2 from the 'customers_ext' table in L1

create_customers_table = f'''
CREATE TABLE {nz_target_database}.{target_schema}.{"customers"} AS
SELECT
  customer_id,
  customer_name,
  email,
  phone_number
FROM
  {nz_target_database}.{source_schema}.{"customers_ext"}
WHERE
  customer_id IS NOT NULL
  AND customer_name IS NOT NULL
  ;
''' 

config.run_nzsql(nz_connection, create_customers_table)

--------Running SQL Command---------


CREATE TABLE LAB1585_XX.L2.customers AS
SELECT
  customer_id,
  customer_name,
  email,
  phone_number
FROM
  LAB1585_XX.L1.customers_ext
WHERE
  customer_id IS NOT NULL
  AND customer_name IS NOT NULL
  ;

Error executing command.
Error details: ERROR:  CREATE TABLE: object "CUSTOMERS" already exists.
 
------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.5 - CREATE `PRODUCTS` table in `L2` schema.

In [30]:
# Define the SQL Statements to create the L2 tables from L1
create_products_table = f'''
CREATE TABLE {nz_target_database}.{target_schema}.{"products"}  AS
SELECT
  product_id,
  product_name,
  category,
  price
FROM
  {nz_target_database}.{source_schema}.{"products_ext"}
WHERE
  product_id IS NOT NULL
  AND product_name IS NOT NULL
  AND category IS NOT NULL
  AND price >= 0
  ;
'''
config.run_nzsql(nz_connection, create_products_table)

--------Running SQL Command---------


CREATE TABLE LAB1585_XX.L2.products  AS
SELECT
  product_id,
  product_name,
  category,
  price
FROM
  LAB1585_XX.L1.products_ext
WHERE
  product_id IS NOT NULL
  AND product_name IS NOT NULL
  AND category IS NOT NULL
  AND price >= 0
  ;

Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.6 - Create `ORDERS` table in `L2` schema.

In [31]:
# Define the SQL Statements to create the L2 tables from L1
create_orders_table = f'''
CREATE TABLE {nz_target_database}.{target_schema}.{"orders"}  AS
SELECT
  order_id,
  order_date,
  customer_id,
  product_id,
  quantity,
  unit_price,
  unit_price * quantity as total_price -- add a total price column
FROM
  {nz_target_database}.{source_schema}.{"orders_ext"}
WHERE
  order_id IS NOT NULL
  OR order_date IS NOT NULL
  OR customer_id IS NOT NULL
  OR product_id IS NOT NULL
  OR quantity > 0
  OR unit_price >= 0
  ;
'''
config.run_nzsql(nz_connection, create_orders_table)

--------Running SQL Command---------


CREATE TABLE LAB1585_XX.L2.orders  AS
SELECT
  order_id,
  order_date,
  customer_id,
  product_id,
  quantity,
  unit_price,
  unit_price * quantity as total_price -- add a total price column
FROM
  LAB1585_XX.L1.orders_ext
WHERE
  order_id IS NOT NULL
  OR order_date IS NOT NULL
  OR customer_id IS NOT NULL
  OR product_id IS NOT NULL
  OR quantity > 0
  OR unit_price >= 0
  ;

Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.8 - LIST `L2` tables

In [32]:
# Set variables for use in sub tasks
target_schema = "L2"

# Define the tables to check
tables_to_check = ["CUSTOMERS", "ORDERS", "PRODUCTS"]

# Query to check for table existence
results = config.run_nzsql_withresults(nz_connection,
f"""
SELECT SCHEMA, TABLENAME 
FROM _v_table
WHERE SCHEMA = '{target_schema}' 
  AND TABLENAME IN ({', '.join(f"'{table}'" for table in tables_to_check)})
ORDER BY TABLENAME
;
"""
)

if results:
    print(tabulate(results, headers=["SCHEMA", "TABLENAME"], tablefmt="pretty", showindex=False, stralign="left"))
else:
    print("No rows found.")

# Collect the existing table names
existing_tables = {row[1] for row in results}

# Check if all specified tables exist
if all(table in existing_tables for table in tables_to_check):
    print(f"\nAll specified tables exist in schema '{target_schema}': {', '.join(tables_to_check)}")
else:
    missing_tables = [table for table in tables_to_check if table not in existing_tables]
    print(f"\nThe following tables are missing in schema '{target_schema}': {', '.join(missing_tables)}")

--------Running SQL Command---------


SELECT SCHEMA, TABLENAME
FROM _v_table
WHERE SCHEMA = 'L2'
  AND TABLENAME IN ('CUSTOMERS', 'ORDERS', 'PRODUCTS')
ORDER BY TABLENAME
;

Successfully executed command.

--------End of SQL Command---------

+--------+-----------+
| SCHEMA | TABLENAME |
+--------+-----------+
| L2     | CUSTOMERS |
| L2     | ORDERS    |
| L2     | PRODUCTS  |
+--------+-----------+

All specified tables exist in schema 'L2': CUSTOMERS, ORDERS, PRODUCTS

## <img src="run.svg" alt="Icon" width="40" height="40"> L2: Task 2.7 - DISCONNECT from database `U1585_XX`
> Where `XX` is your assigned student ID set in cell one.

In [33]:
# Call the run_nzsql function in config.py to disconnect from the Netezza U1585_XX database

config.disconnect(nz_connection, nz_target_db)

Successfully disconnected from the database LAB1585_XX.

Check that the schema was created.

---
# L3: Overview - Presentation Data Layer
---
The L3 data further refines the L2 data and can be considered "business-level" because it is considered a trusted source of information. Data may be combined from various sources to create a single object to remove the need for joins. Gold data can reside on object stores but usually for performance reasons it will reside on high-performance storage using proprietary database engines to optimize query performance.

## <img src="run.svg" alt="Icon" width="40" height="40"> L3: Task 3.1 - Set variables

In [34]:
# Set variables for use in sub tasks

nz_target_database = f"LAB1585_{student_id}"
L1_schema = "L1"
L2_schema = "L2"
L3_schema = "L3"

## <img src="run.svg" alt="Icon" width="40" height="40"> L3: Task 3.2 - CONNECT to LAB1585_XX database

In [35]:
# Connect to the newly created database

nz_connection = config.connect_nzdb(nz_user, nz_password, nz_host, nz_target_db, nz_port)

Connection to database LAB1585_XX successful.

## <img src="run.svg" alt="Icon" width="40" height="40"> L3: Task 3.3 - ADD `L3` Schema
We start by creating the `L3` schema that will be used for the refined Silver tables.

In [36]:
# Create the `L3` schema

config.run_nzsql(nz_connection,
                 f"""CREATE SCHEMA {L3_schema};"""
                )

--------Running SQL Command---------

CREATE SCHEMA L3;
Successfully executed command.

------------------------------------

## L3: Task 3.4 - Summary Tables

To enhance query performance, a series of summary tables are created for each base table in the L3 schema. These tables provide summarized information on:

    - Customer Activity
    - Product Orders
    - Product Categories

In addition to improving performance, this approach helps build Level-3 (L3) of the data layer architecture for data warehousing and data lakes.

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.4.1 Create Customer Activity Summary

In [37]:
config.run_nzsql(nz_connection, 
f"""
    CREATE TABLE {nz_target_database}.{L3_schema}.customer_activity_summary  AS
    SELECT
        o.customer_id,
        COUNT(DISTINCT o.order_id) AS total_orders_placed,
        SUM(o.total_price) AS total_revenue
    FROM
        {nz_target_database}.{L2_schema}.orders o
    JOIN
         {nz_target_database}.{L2_schema}.customers c ON o.customer_id = c.customer_id
    GROUP BY
        o.customer_id;
""")

--------Running SQL Command---------


    CREATE TABLE LAB1585_XX.L3.customer_activity_summary  AS
    SELECT
        o.customer_id,
        COUNT(DISTINCT o.order_id) AS total_orders_placed,
        SUM(o.total_price) AS total_revenue
    FROM
        LAB1585_XX.L2.orders o
    JOIN
         LAB1585_XX.L2.customers c ON o.customer_id = c.customer_id
    GROUP BY
        o.customer_id;

Successfully executed command.

------------------------------------

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.4.2 Create Order Summary

In [38]:
config.run_nzsql(nz_connection, 
f"""
    CREATE TABLE {nz_target_database}.{L3_schema}.order_summary AS
    SELECT
        product_id,
        SUM(quantity) AS total_quantity,
        SUM(total_price) AS total_revenue
    FROM
        {nz_target_database}.{L2_schema}.orders
    GROUP BY
        product_id;
""")

--------Running SQL Command---------


    CREATE TABLE LAB1585_XX.L3.order_summary AS
    SELECT
        product_id,
        SUM(quantity) AS total_quantity,
        SUM(total_price) AS total_revenue
    FROM
        LAB1585_XX.L2.orders
    GROUP BY
        product_id;

Successfully executed command.

------------------------------------

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.4.3 Create Product Summary

In [39]:
config.run_nzsql(nz_connection, 
f"""
    CREATE TABLE {nz_target_database}.{L3_schema}.product_category_summary AS
    SELECT
        category,
        COUNT(*) AS product_count
    FROM
        {nz_target_database}.{L2_schema}.products
    GROUP BY
        category;
""")

--------Running SQL Command---------


    CREATE TABLE LAB1585_XX.L3.product_category_summary AS
    SELECT
        category,
        COUNT(*) AS product_count
    FROM
        LAB1585_XX.L2.products
    GROUP BY
        category;

Successfully executed command.

------------------------------------

## <img src="run.svg" alt="Icon" width="40" height="40"> L3: Task 3.5 - List `L3` Tables

In [40]:
# Set variables for use in sub tasks
target_schema = "L3"

# Define the tables to check
tables_to_check = ["CUSTOMER_ACTIVITY_SUMMARY", "ORDER_SUMMARY", "PRODUCT_CATEGORY_SUMMARY"]

# Query to check for table existence
results = config.run_nzsql_withresults(nz_connection,
f"""
SELECT SCHEMA, TABLENAME 
FROM _v_table
WHERE SCHEMA = '{target_schema}' 
  AND TABLENAME IN ({', '.join(f"'{table}'" for table in tables_to_check)})
ORDER BY TABLENAME
;
"""
)

if results:
    print(tabulate(results, headers=["SCHEMA", "TABLENAME"], tablefmt="pretty", showindex=False, stralign="left"))
else:
    print("No rows found.")

# Collect the existing table names
existing_tables = {row[1] for row in results}

# Check if all specified tables exist
if all(table in existing_tables for table in tables_to_check):
    print(f"\nAll specified tables exist in schema '{target_schema}': {', '.join(tables_to_check)}")
else:
    missing_tables = [table for table in tables_to_check if table not in existing_tables]
    print(f"\nThe following tables are missing in schema '{target_schema}': {', '.join(missing_tables)}")

--------Running SQL Command---------


SELECT SCHEMA, TABLENAME
FROM _v_table
WHERE SCHEMA = 'L3'
  AND TABLENAME IN ('CUSTOMER_ACTIVITY_SUMMARY', 'ORDER_SUMMARY', 'PRODUCT_CATEGORY_SUMMARY')
ORDER BY TABLENAME
;

Successfully executed command.

--------End of SQL Command---------

+--------+---------------------------+
| SCHEMA | TABLENAME                 |
+--------+---------------------------+
| L3     | CUSTOMER_ACTIVITY_SUMMARY |
| L3     | ORDER_SUMMARY             |
| L3     | PRODUCT_CATEGORY_SUMMARY  |
+--------+---------------------------+

All specified tables exist in schema 'L3': CUSTOMER_ACTIVITY_SUMMARY, ORDER_SUMMARY, PRODUCT_CATEGORY_SUMMARY

## L3: Task 3.6 - Sample Reports

The following examples show the use of `L2` and `L3` data being joined in queries.

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.6.1 Report on Customer Activity: `L2`

In [41]:
from IPython.display import display, HTML

# Disable scrolling for notebook outputs
display(HTML("<style>.output_scroll { height: auto; }</style>"))

# Execute the SQL query and retrieve results
results = config.run_nzsql_withresults(nz_connection, 
    f"""
    SELECT
        c.customer_id,
        c.customer_name,
        COUNT(DISTINCT o.order_id) AS total_orders_placed,
        SUM(o.total_price) AS total_revenue
    FROM
         {nz_target_database}.{L2_schema}.customers c
    LEFT JOIN
         {nz_target_database}.{L2_schema}.orders o ON c.customer_id = o.customer_id
    GROUP BY
        c.customer_id, c.customer_name
    ORDER BY
        total_revenue DESC;
    """
)

# Check if results are not empty and print using tabulate
if results:
    print(tabulate(results, headers=["Customer ID", "Customer Name", "Total Orders Placed", "Total Revenue"],
                   tablefmt="pretty", showindex=False, 
                   stralign="left", numalign="right"))
else:
    print("No data found.")

--------Running SQL Command---------


    SELECT
        c.customer_id,
        c.customer_name,
        COUNT(DISTINCT o.order_id) AS total_orders_placed,
        SUM(o.total_price) AS total_revenue
    FROM
         LAB1585_XX.L2.customers c
    LEFT JOIN
         LAB1585_XX.L2.orders o ON c.customer_id = o.customer_id
    GROUP BY
        c.customer_id, c.customer_name
    ORDER BY
        total_revenue DESC;

Successfully executed command.

--------End of SQL Command---------

+-------------+-----------------------+---------------------+--------------------+
| Customer ID | Customer Name         | Total Orders Placed | Total Revenue      |
+-------------+-----------------------+---------------------+--------------------+
| 75.0        | Katherine Thompson    | 8                   | 3648.02            |
| 39.0        | Charles Fox           | 10                  | 3503.16            |
| 26.0        | Matthew Mccall        | 8                   | 3425.3199999999997 |
| 80.0        | Marcus Hall           | 10                  | 3194.3599999999997 |
| 38.0        | Jordan Jacobson       | 7                   | 3074.27            |
| 42.0        | Elizabeth Reynolds    | 9                   | 3021.02            |
| 55.0        | Jonathan Chase        | 9                   | 2929.7400000000002 |
| 9.0         | Timothy Ward          | 7                   | 2853.52            |
| 95.0        | Mark Perkins          | 8                   | 2777.9100000000003 |
| 92.0        | Patrick Bailey        | 7                   | 2749.51            |
| 82.0        | Michael Smith         | 11                  | 2706.65            |
| 60.0        | Michael Figueroa      | 6                   | 2516.14            |
| 74.0        | Christina Moore       | 4                   | 2509.64            |
| 69.0        | Cory Reyes            | 9                   | 2431.59            |
| 21.0        | Edward Clayton        | 5                   | 2429.17            |
| 23.0        | Richard Maldonado     | 7                   | 2419.71            |
| 76.0        | Joshua Baker          | 6                   | 2408.57            |
| 68.0        | Michael Watts         | 9                   | 2398.14            |
| 78.0        | Alexis Cohen          | 5                   | 2384.7899999999995 |
| 96.0        | Justin Hawkins        | 5                   | 2283.88            |
| 73.0        | Autumn Randolph       | 4                   | 2277.78            |
| 19.0        | Sarah Schneider       | 9                   | 2258.9600000000005 |
| 54.0        | Samantha Andrews      | 7                   | 2220.54            |
| 45.0        | Adam Ford             | 5                   | 2177.84            |
| 10.0        | James Santiago        | 4                   | 2154.73            |
| 71.0        | Keith Gill MD         | 5                   | 2072.35            |
| 83.0        | Mandy King            | 4                   | 2042.1999999999998 |
| 66.0        | Douglas Collins       | 9                   | 2021.5             |
| 59.0        | Rodney Rodriguez      | 8                   | 1927.8             |
| 34.0        | Ariana Rush           | 6                   | 1871.8700000000001 |
| 47.0        | Lisa Moore            | 5                   | 1836.6399999999999 |
| 84.0        | Scott Strickland      | 8                   | 1831.9899999999998 |
| 58.0        | Robert Rose           | 4                   | 1825.1299999999999 |
| 12.0        | Ashley Chen           | 5                   | 1756.43            |
| 97.0        | Jordan Wright         | 7                   | 1721.5899999999997 |
| 37.0        | Elizabeth Barnes      | 5                   | 1708.7000000000003 |
| 85.0        | Heather Garcia        | 7                   | 1706.99            |
| 30.0        | Luis Boyd             | 6                   | 1686.7200000000003 |
| 11.0        | Gary Huffman          | 4                   | 1651.74            |
| 29.0        | Sarah Perry           | 3                   | 1637.6             |
| 62.0        | Charles Marshall      | 5                   | 1630.8100000000002 |
| 94.0        | Marilyn Brewer        | 4                   | 1562.68            |
| 79.0        | Michelle Bright       | 6                   | 1560.57            |
| 98.0        | Gregory Jackson       | 6                   | 1530.8             |
| 7.0         | Jeffery Hoffman       | 5                   | 1526.67            |
| 57.0        | James Wallace         | 6                   | 1522.03            |
| 46.0        | Michelle Ross         | 5                   | 1494.53            |
| 33.0        | Jeffrey Shaw          | 6                   | 1486.7             |
| 14.0        | Misty Jennings        | 4                   | 1481.31            |
| 43.0        | Aaron Martin          | 5                   | 1413.6599999999999 |
| 13.0        | Adrian Watkins        | 5                   | 1338.62            |
| 52.0        | Patricia Gonzalez DDS | 6                   | 1329.49            |
| 67.0        | Carolyn Long          | 7                   | 1324.98            |
| 93.0        | Brittany Mckinney     | 5                   | 1323.34            |
| 20.0        | Melinda Underwood     | 5                   | 1313.7700000000002 |
| 50.0        | Joseph Lyons          | 3                   | 1296.46            |
| 24.0        | Brian Michael         | 5                   | 1280.51            |
| 44.0        | Kimberly Rodriguez    | 4                   | 1240.47            |
| 65.0        | Cody Hood             | 4                   | 1216.4199999999998 |
| 15.0        | Robert Garcia         | 4                   | 1184.51            |
| 91.0        | Mary Bowman           | 4                   | 1173.67            |
| 17.0        | Sydney Olsen          | 4                   | 1117.1200000000001 |
| 49.0        | Allen Dunlap          | 5                   | 1115.43            |
| 40.0        | Alexander Oliver      | 3                   | 1069.3200000000002 |
| 88.0        | Nathaniel Merritt     | 5                   | 1067.35            |
| 89.0        | Jesse Rich            | 5                   | 1061.4             |
| 86.0        | Sean Horton           | 4                   | 1023.3600000000001 |
| 8.0         | Elizabeth Castaneda   | 3                   | 994.86             |
| 72.0        | Derek Williams        | 5                   | 983.5999999999999  |
| 2.0         | Cathy White           | 3                   | 967.47             |
| 81.0        | Jacob Porter          | 5                   | 964.8200000000002  |
| 48.0        | Theresa Johnson       | 6                   | 952.3900000000001  |
| 56.0        | Michael King          | 5                   | 933.5              |
| 51.0        | Steven Salazar        | 2                   | 916.2              |
| 27.0        | Sarah Lopez           | 4                   | 860.4699999999999  |
| 90.0        | Adam Brown            | 6                   | 833.6              |
| 28.0        | David Rasmussen DDS   | 2                   | 784.02             |
| 53.0        | Natalie Clayton       | 3                   | 774.5              |
| 63.0        | Krystal Martinez      | 4                   | 770.46             |
| 36.0        | Thomas Knox           | 5                   | 739.51             |
| 1.0         | Kimberly Lawrence     | 3                   | 736.88             |
| 22.0        | Steven Singh          | 4                   | 721.8499999999999  |
| 18.0        | Courtney Cooley       | 5                   | 708.2500000000001  |
| 77.0        | Thomas Lindsey        | 3                   | 685.5              |
| 3.0         | Jeremy Cameron        | 4                   | 670.12             |
| 70.0        | James Fitzpatrick     | 5                   | 649.95             |
| 25.0        | Kelly Dean            | 1                   | 641.3              |
| 87.0        | Sarah Dominguez       | 4                   | 606.71             |
| 5.0         | Brad Walters          | 5                   | 606.65             |
| 99.0        | Jorge Smith           | 1                   | 599.76             |
| 6.0         | Dr. Christine Sanders | 2                   | 501.38             |
| 32.0        | Thomas Gilbert        | 3                   | 441.84000000000003 |
| 100.0       | Shelby Fernandez      | 2                   | 439.17999999999995 |
| 31.0        | Eric Wright           | 3                   | 307.44000000000005 |
| 41.0        | Rebecca Chan          | 2                   | 290.7              |
| 64.0        | George Gordon         | 1                   | 278.04             |
| 16.0        | Zachary Watson        | 2                   | 276.46             |
| 61.0        | Austin Martin         | 1                   | 228.96             |
| 35.0        | Joel Barrett          | 1                   | 80.33              |
| 4.0         | Howard Dixon          | 0                   |                    |
+-------------+-----------------------+---------------------+--------------------+

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.6.2 Report Total Revenue by Product Category: `L2`

In [42]:
# Execute the SQL query and retrieve results
results = config.run_nzsql_withresults(nz_connection, 
    f"""
    SELECT
        p.category,
        SUM(o.total_price) AS total_revenue
    FROM
        {nz_target_database}.{L2_schema}.orders o
    JOIN
        {nz_target_database}.{L2_schema}.products p ON o.product_id = p.product_id
    GROUP BY
        p.category
    ORDER BY
        total_revenue DESC;
    """
)

# Check if results are not empty and print using tabulate
if results:
    print(tabulate(results, headers=["Category", "Total Revenue"],
                   tablefmt="pretty", showindex=False, 
                   stralign="left", numalign="right"))
else:
    print("No data found.")

--------Running SQL Command---------


    SELECT
        p.category,
        SUM(o.total_price) AS total_revenue
    FROM
        LAB1585_XX.L2.orders o
    JOIN
        LAB1585_XX.L2.products p ON o.product_id = p.product_id
    GROUP BY
        p.category
    ORDER BY
        total_revenue DESC;

Successfully executed command.

--------End of SQL Command---------

+--------------+--------------------+
| Category     | Total Revenue      |
+--------------+--------------------+
| Movie        | 10649.399999999998 |
| Movement     | 10239.91           |
| Husband      | 9306.150000000001  |
| Trade        | 9212.34            |
| Rule         | 8379.809999999998  |
| Important    | 8312.08            |
| Job          | 7718.900000000001  |
| Point        | 7666.4800000000005 |
| Show         | 7544.719999999999  |
| Company      | 7522.929999999999  |
| Owner        | 7510.41            |
| Professional | 7143.699999999999  |
| Computer     | 6916.450000000001  |
| Information  | 6843.879999999999  |
| Send         | 6547.43            |
| Those        | 6527.33            |
| Arrive       | 6470.4             |
| Example      | 6418.99            |
| Accept       | 5869.250000000001  |
| Teach        | 3886.3299999999995 |
+--------------+--------------------+

### <img src="run.svg" alt="Icon" width="40" height="40"> Task 3.6.3 Report on Product Sales Summary: `L2` and `L3`

In [43]:
# Execute the SQL query and retrieve results
results = config.run_nzsql_withresults(nz_connection, 
    f"""
    SELECT
        p2.product_id,
        p2.product_name,
        p3.total_quantity,
        p3.total_revenue
    FROM
        {nz_target_database}.{L2_schema}.products p2
    JOIN
        {nz_target_database}.{L3_schema}.order_summary p3 ON p2.product_id = p3.product_id
    ORDER BY
        p3.total_revenue DESC;
    """
)

# Check if results are not empty and print using tabulate
if results:
    print(tabulate(results, headers=["Category", "Total Revenue"],
                   tablefmt="pretty", showindex=False, 
                   stralign="left", numalign="right"))
else:
    print("No data found.")

--------Running SQL Command---------


    SELECT
        p2.product_id,
        p2.product_name,
        p3.total_quantity,
        p3.total_revenue
    FROM
        LAB1585_XX.L2.products p2
    JOIN
        LAB1585_XX.L3.order_summary p3 ON p2.product_id = p3.product_id
    ORDER BY
        p3.total_revenue DESC;

Successfully executed command.

--------End of SQL Command---------

+------+--------------+----------+--------------------+
|      |              | Category | Total Revenue      |
+------+--------------+----------+--------------------+
| 10.0 | Contain      | 197      | 10649.4            |
| 11.0 | Apply        | 164      | 10239.910000000002 |
| 17.0 | Culture      | 169      | 9306.15            |
| 16.0 | Organization | 152      | 9212.339999999998  |
| 1.0  | Investment   | 137      | 8379.81            |
| 5.0  | Wrong        | 132      | 8312.08            |
| 13.0 | Case         | 147      | 7718.900000000002  |
| 14.0 | Less         | 136      | 7666.4800000000005 |
| 20.0 | Feeling      | 152      | 7544.72            |
| 8.0  | Finally      | 153      | 7522.929999999999  |
| 4.0  | Today        | 151      | 7510.409999999999  |
| 3.0  | Moment       | 120      | 7143.700000000001  |
| 12.0 | Still        | 141      | 6916.450000000001  |
| 18.0 | Whether      | 141      | 6843.880000000001  |
| 2.0  | Fish         | 146      | 6547.43            |
| 9.0  | Mrs          | 108      | 6527.330000000002  |
| 7.0  | Available    | 99       | 6470.400000000001  |
| 19.0 | Best         | 127      | 6418.990000000001  |
| 15.0 | Gun          | 123      | 5869.250000000001  |
| 6.0  | Need         | 77       | 3886.33            |
+------+--------------+----------+--------------------+

## <img src="run.svg" alt="Icon" width="40" height="40"> L3: Task 3.7 - Disconnect from database

In [44]:
# Call the run_nzsql function in config.py to disconnect from the Netezza U1585_XX database

config.disconnect(nz_connection, nz_target_db)

Successfully disconnected from the database LAB1585_XX.

---
# Part 2

Offload data from the Data Warehouse into Lakehouse for workload optimization.

**Engine(s)**: Netezza Performance Server and Presto

---
#### Credits: IBM 2024
**Brajesh Pandey** [bkpandey@us.ibm.com] 
STSM, Chief Architect - Netezza EDW, Data Integration Architect - watsonx.data

**Daniel Hancock** [daniel.hancock@us.ibm.com]
Principal WW Data & AI Technical Specialist